server:
  port: 8081
  servlet:
    session:
      tracking-modes: cookie
      timeout: 30m
      cookie:
        name: JSESSIONID
        http-only: true
        secure: false
        max-age: 1800

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/JavaWeb?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        '[dialect]': org.hibernate.dialect.MySQLDialect
        '[format_sql]': true

# MyBatis配置
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.javaweb01.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  
  thymeleaf:
    cache: false
    encoding: UTF-8
    mode: HTML
    prefix: classpath:/templates/
    suffix: .html

logging:
  level:
    com.example.javaweb01: debug
    org.springframework.web: debug
